.popup__input-error{
height: auto;
width: 358px;
font-family: "Inter", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FF0000;
position: absolute;
top: 58px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

@media screen and (max-width: 965px) {
  .popup__input-error {
    width: 238px;

  }
}
